.about {
  padding: 120px 0 145px;

  @include vp-1023 {
    padding: 100px 0;
  }

  @include vp-767 {
    padding: 65px 0 85px;
  }
}

.about__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 40px;

  @include vp-1023 {
    column-gap: 25px;
  }

  @include vp-767 {
    display: block;
    column-gap: 0;
  }
}

.about__content {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include vp-767 {
    margin-bottom: 50px;
  }
}

.about__content h2 {
  margin: 0;
  margin-bottom: 22px;
  padding: 0;

  font-size: 28px;
  line-height: 42px;
  font-weight: 600;

  @include vp-1023 {
    margin-bottom: 30px;

    font-size: 26px;
    line-height: 36.4px;
  }

  @include vp-767 {
    font-size: 24px;
    line-height: 33.6px;
  }
}

.about__content p {
  margin: 0;
  padding: 0;

  font-size: 16px;
  line-height: 24px;
}

.about__photo {
  margin: 0 auto;
}
