.advantages {
  background-color: $color-default-light;
  background-image:
    linear-gradient($light-gradient),
    url("../img/advantages.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @include retina {
    background-image:
      linear-gradient($light-gradient),
      url("../img/advantages@2x.jpg");
  }
}

.advantages__container {
  padding-top: 110px;
  padding-bottom: 120px;

  @include vp-1023 {
    padding-top: 90px;
    padding-bottom: 100px;
  }

  @include vp-767 {
    padding-top: 57px;
    padding-bottom: 65px;
  }
}

.advantages h2 {
  margin: 0;
  margin-bottom: 49px;

  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  text-align: center;

  @include vp-1023 {
    font-size: 26px;
    line-height: 39px;
  }

  @include vp-767 {
    margin-bottom: 30px;

    font-size: 24px;
    line-height: 36px;
  }
}

.advantages__list {
  margin: 0;
  padding: 0;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;

  list-style: none;

  @include vp-1023 {
    column-gap: 30px;
  }

  @include vp-767 {
    display: block;
  }
}

.advantages__item {
  padding: 81px 30px 45px;

  background-repeat: no-repeat;
  background-position: top 30px left 30px;

  background-color: $color-default-light;

  @include vp-1023 {
    padding: 71px 17px 24px 20px;

    background-position: top 26px left 19px;
    background-size: auto 26px;

    &:last-child h3 {
      margin-bottom: 20px;
    }
  }

  @include vp-767 {
    padding: 70px 20px 21px;

    &:not(:last-child) {
      margin-bottom: 30px;
    }

    &:last-child h3 {
      margin-bottom: 10px;
    }
  }

  @include hover {
    box-shadow: $base-shadow;
  }
}

.advantages__item h3 {
  margin: 0;
  margin-bottom: 9px;

  font-weight: 500;
  font-size: 18px;
  line-height: 27px;

  @include vp-1023 {
    line-height: 25.2px;
  }

  & br {
    display: none;

    @include vp-1023 {
      display: block;
    }
  }

  @include vp-767 {
    margin-bottom: 10px;
  }
}

.advantages__item p {
  margin: 0;

  font-size: 14px;
  line-height: 19.6px;

  & br {
    @include vp-1023 {
      display: none;
    }
  }
}
