.contacts {
  padding: 120px 0;

  @include vp-1023 {
    padding: 100px 0;
  }

  @include vp-767 {
    padding: 65px 0;
  }
}

.contacts__container {
  display: grid;
  grid-template-columns: auto 43.1%;
  column-gap: 100px;

  @include vp-1023 {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
  }

  @include vp-767 {
    display: flex;
    flex-direction: column-reverse;
  }
}

.contacts__map {
  align-self: center;
  min-height: 306px;
  width: 100%;
  box-sizing: border-box;

  background-image: url("../img/map.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @include retina {
    background-image: url("../img/map@2x.jpg");
  }

  @include vp-1023 {
    min-height: 335px;
  }

  @include vp-767 {
    min-height: 316px;
  }
}

.contacts__info {
  max-width: 500px;
  align-self: center;

  @include vp-767 {
    margin-bottom: 40px;
  }
}

.contacts__info svg {
  margin-right: 10px;
  transform: translateY(4px);
}

.contacts__info h3 {
  margin: 0;
  margin-bottom: 30px;

  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}

.contacts__info p {
  margin: 0;
  margin-bottom: 25px;

  font-size: 16px;
  line-height: 24px;
}

.contacts__info a {
  font-size: 16px;
  line-height: 24px;
}

.contacts__info p,
.contacts__info a {
  display: flex;
  align-items: baseline;
}
