.footer {
  padding: 50px 0;

  background-color: $color-default-dark;

  @include vp-1023 {
    padding: 50px 0 47px;
  }

  @include vp-767 {
    padding: 40px 0 37px;
  }
}

.footer__container {
  display: flex;
  align-items: center;

  @include vp-767 {
    flex-direction: column;
    align-items: flex-start;
  }
}

.footer .logo {
  margin-right: 30px;

  @include vp-1023 {
    margin-right: 21px;
  }

  @include vp-767 {
    margin-right: 0;
    margin-bottom: 25px;
  }
}

.footer .navigation__list {
  max-width: 620px;

  @include vp-1023 {
    max-width: 450px;
  }

  @include vp-767 {
    margin-bottom: 20px;
    max-width: auto;
    flex-direction: column;
    gap: 9px;
  }
}

.footer .socials {
  margin-left: auto;

  @include vp-767 {
    margin-left: 0;
  }
}
