.header {
  padding: 35px 0;

  position: sticky;
  top: 0;

  background-color: inherit;
  z-index: 10;

  @include vp-1023 {
    padding: 30px 0;

    position: relative;
  }

  @include vp-767 {
    padding: 20px 0;
  }
}

.header__container {
  display: flex;
  align-items: center;
}

.header__logo {
  margin-right: auto;
}

.header__logo svg {
  filter: drop-shadow($base-shadow);
}

.header__navigation .navigation__list {
  max-width: 650px;

  transform: translateX(10px);

  @include vp-1023 {
    max-width: 585px;
  }

  @include vp-767 {
    display: none;
  }
}

.navigation__button {
  padding: 0;
  width: 24px;
  height: 24px;

  display: block;
  position: relative;

  background-color: transparent;
  border: none;
  cursor: pointer;

  @include vp-767 {
    display: none;
  }
}

//* События при ЗАКРЫТОМ меню

.menu--closed .navigation__button::before {
  position: absolute;
  content: "";
  width: 24px;
  height: 2px;
  top: 50%;
  left: 0;
  background-color: $color-default-light;
  box-shadow: 0 -6px 0 0 $color-default-light, 0 6px 0 0 $color-default-light;
}

.menu--closed .navigation__list--header {
  @include vp-767 {
    display: none;
  }
}

//* События при ОТКРЫТОМ меню

.menu--opened .navigation__button {
  &::before,
  &::after {
    position: absolute;
    content: "";
    width: 18.4px;
    height: 2px;
    top: 50%;
    left: 3px;
    background-color: $color-default-dark;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.menu--opened .header__logo {
  @include vp-767 {
    z-index: -10;
  }
}

.menu--opened .navigation__logo {
  @include vp-767 {
    display: flex;
    position: relative;
  }
}

.menu--opened .navigation__list--header {
  @include vp-767 {
    padding: 75px 30px 75px 15px;
    width: 89%;
    height: 100vh;

    display: block;

    position: absolute;
    right: 0;
    top: 0;

    background-color: $color-default-light;
  }
}

.menu--opened .navigation__item {
  @include vp-767 {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}

.menu--opened .navigation__item a {
  @include vp-767 {
    padding: 10px 10px 8px;
    width: 100%;

    display: block;
    text-shadow: none;
  }
}
