.header {
  padding: 35px 0;
  width: 100%;

  position: fixed;
  top: 0;
  left: 0;

  background-color: inherit;
  z-index: 10;

  @include vp-1023 {
    padding: 27.5px 0;

    position: absolute;
  }

  @include vp-767 {
    padding: 20px 0;
  }
}

.header__container {
  display: flex;
}

.header__logo {
  margin-right: auto;
  align-self: baseline;
}

.header__logo span {
  display: none;
}

.header__logo svg {
  filter: drop-shadow($base-shadow);
}

.header .navigation__list {
  max-width: 650px;

  gap: 18px;
  transform: translateX(8px);

  @include vp-1023 {
    max-width: 585px;

    gap: 15px;
    transform: translateX(4px);
  }

  @include vp-767 {
    display: none;
  }
}

//* при ОТКРЫТОМ меню

.menu-opened .header {
  &::before {
    width: 100%;
    height: 100vh;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: $color-prussian-blue-opacity;
  }
}

.menu-opened .navigation__button {
  &::before,
  &::after {
    position: absolute;
    content: "";
    width: 18.4px;
    height: 2px;
    top: 50%;
    left: 3px;
    background-color: $color-default-dark;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.menu-opened .header__logo {
  @include vp-767 {
    z-index: -10;
  }
}

.menu-opened .navigation__logo {
  @include vp-767 {
    display: flex;
    position: relative;
    right: 213px;
  }
}

.menu-opened .navigation__list--header {
  @include vp-767 {
    padding: 75px 30px 75px 15px;
    width: 289px;
    height: 100vh;

    display: block;

    position: fixed;
    right: 0;
    top: 0;
    overflow: auto;

    background-color: $color-default-light;
  }
}

.menu-opened .navigation__item {
  @include vp-767 {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}

.menu-opened .navigation__item a {
  @include vp-767 {
    padding: 10px 10px 8px;
    width: 100%;

    display: block;
    text-shadow: none;
  }
}
