.intro {
  margin-top: -$header-height-desktop;
  padding: $header-height-desktop 0;
  min-height: 650px;

  background-color: $color-default-dark;
  background-image: url("../img/intro.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @include retina {
    background-image: url("../img/intro@2x.jpg");
  }

  z-index: -10;
  filter: drop-shadow($base-shadow);

  @include vp-1023 {
    margin-top: -$header-height-tablet;
    padding: $header-height-tablet 0;
    min-height: 638px;

    filter: none;
  }

  @include vp-767 {
    margin-top: -$header-height-mobile;
    padding: $header-height-mobile 0;
    min-height: 500px;
  }
}

.intro__content {
  margin-top: 175px;
  margin-left: 95px;

  color: $color-default-light;
  text-shadow: $base-shadow;

  @include vp-1023 {
    margin-top: 195px;
    margin-left: 0;

    text-shadow: none;
  }

  @include vp-767 {
    margin-top: 120px;
  }
}

.intro__content h1 {
  margin: 0;
  margin-bottom: 30px;

  font-weight: 700;
  font-size: 54px;
  line-height: 66px;

  @include vp-1023 {
    font-size: 50px;
    line-height: 61px;
  }

  @include vp-767 {
    margin-bottom: 25px;

    font-size: 36px;
    line-height: 45px;
  }
}

.intro__content p {
  margin: 0;

  font-size: 20px;
  line-height: 24px;


  @include vp-1023 {
    font-size: 18px;
    line-height: 22px;
  }

  @include vp-767 {
    font-size: 16px;
    line-height: 22.4px;
  }
}
