.logo {
  display: flex;
  align-items: center;

  transition: 100ms;
}

.logo svg {
  fill: $color-default-light;

  @include vp-1023 {
    width: 38px;
    height: 20px;
  }

  @include vp-767 {
    width: 42px;
    height: 22px;
  }
}
