.navigation__list {
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: space-between;

  list-style: none;
}

.navigation__item {
  display: flex;

  @include vp-767 {
    &:not(:last-child) {
      margin-bottom: 23px;
    }

    &:last-child {
      margin-bottom: 30px;
    }
  }
}

.navigation__item a {
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  color: $color-default-light;
}

.navigation__item--header a {
  text-shadow: $text-shadow;

  @include vp-1023 {
    font-size: 14px;
    line-height: 17px;
  }

  @include vp-767 {
    font-size: 18px;
    line-height: 22px;
    color: $color-default-dark;
  }
}

.navigation__item--footer a {
  @include vp-1023 {
    font-size: 12px;
    line-height: 15px;
  }
}

.navigation__button {
  display: none;

  @include vp-767 {
    display: block;

    position: absolute;
    top: 18px;
    right: 15px;

    z-index: 100;
  }
}
