.navigation__logo {
  display: none;
  z-index: 100;
}

.navigation__logo svg {
  fill: $color-default-dark;
}

.navigation__list {
  margin: 0;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
  gap: 18px;

  list-style: none;

  @include vp-1023 {
    gap: 15px;
  }

  @include vp-767 {
    margin-bottom: 30px;
  }
}

.navigation__item {
  display: flex;

  @include hover-focus {
    & a {
      text-shadow: $light-shadow;
    }
  }
}

.navigation__item a {
  padding: 8px;

  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  color: $color-default-light;

  @include vp-1023 {
    padding: 4px;
  }
}

.navigation__item--header a {
  text-shadow: $base-shadow;

  @include vp-1023 {
    font-size: 14px;
    line-height: 17px;
  }

  @include vp-767 {
    font-size: 18px;
    line-height: 22px;
    color: $color-default-dark;
  }
}

.navigation__item--footer a {
  @include vp-1023 {
    font-size: 12px;
    line-height: 15px;
  }
}

.navigation__button {
  display: none;

  @include vp-767 {
    display: block;

    position: absolute;
    top: 18px;
    right: 15px;

    z-index: 100;
  }
}
