.navigation__logo {
  display: none;
  z-index: 100;
}

.navigation__logo svg {
  fill: $color-default-dark;
}

.navigation__list {
  margin: 0;
  padding: 0;

  display: flex;
  flex-wrap: wrap;

  list-style: none;
}

.navigation__list--header {
  @include vp-767 {
    display: none;
  }
}

.navigation__item {
  display: flex;

  @include hover-focus {
    & a {
      text-shadow: $light-shadow;
    }
  }
}

.navigation__item a {
  padding: 8px;

  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  color: $color-default-light;

  user-select: none;

  @include vp-1023 {
    padding: 4px;
  }
}

.navigation__item--header a {
  text-shadow: $base-shadow;

  @include vp-1023 {
    font-size: 14px;
    line-height: 17px;
  }

  @include vp-767 {
    font-size: 18px;
    line-height: 22px;
    color: $color-default-dark;
  }
}

.navigation__item--footer a {
  @include vp-1023 {
    font-size: 12px;
    line-height: 15px;
  }
}

.navigation__button {
  padding: 0;
  width: 24px;
  height: 24px;

  display: none;

  position: absolute;
  top: 18px;
  right: 13px;

  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 100;

  &::before {
    position: absolute;
    content: "";
    width: 24px;
    height: 2px;
    top: 50%;
    left: 0;
    background-color: $color-default-light;
    box-shadow: 0 -6px 0 0 $color-default-light, 0 6px 0 0 $color-default-light;
  }

  @include vp-767 {
    display: block;
  }
}
