.products {
  padding: 86px 0 89px;

  @include vp-1023 {
    padding: 90px 0 70px;
  }

  @include vp-767 {
    padding: 56px 0 34px;
  }
}

.products__container h2 {
  margin: 0;
  margin-bottom: 33px;
  padding: 0;

  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  text-align: center;

  @include vp-1023 {
    font-size: 26px;
    line-height: 39px;
  }

  @include vp-767 {
    margin-bottom: 15px;

    font-size: 24px;
    line-height: 36px;
  }
}

.products__list {
  padding: 0;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  list-style: none;
}

.products__item {
  padding: 15px;
  min-width: 290px;

  @include vp-1023 {
    min-width: 339px;
  }

  @include vp-767 {
    min-width: 300px;
  }
}

.products__item-wrapper {
  min-height: 386px;

  position: relative;

  @include hover-focus {
    & .products__item-front {
      transform: perspective(1000px) rotateY(-180deg);
    }

    & .products__item-back {
      transform: perspective(1000px) rotateY(0deg);
    }
  }
}

.products__item-front,
.products__item-back {
  width: 100%;
  height: 100%;

  position: absolute;

  backface-visibility: hidden;
  overflow: hidden;
  transition: transform 0.6s linear;
}

.products__item-front {
  height: 100%;

  transform: perspective(1000px) rotateY(0deg);

  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient($products-gradient);
  }
}

.products__item-front img {
  height: 100%;

  object-fit: cover;
}

.products__item-front h3 {
  margin: 0;
  padding: 23px 30px;

  font-weight: 500;
  font-size: 18px;
  line-height: 27px;

  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;

  @include vp-1023 {
    padding: 26px 35px;
  }

  @include vp-767 {
    padding: 18px 25px;
  }

  color: $color-default-light;
}

.products__item-back {
  padding: 29px 25px;
  width: 100%;

  color: $color-default-light;

  background-color: $color-default-dark;
  transform: perspective(1000px) rotateY(180deg);

  @include vp-1023 {
    padding: 30px 35px;
  }

  @include vp-767 {
    padding: 28px 25px;
  }
}

.products__item-back p {
  margin: 0;
  margin-bottom: 12px;

  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}

.products__item-back dl {
  margin: 0;
  margin-bottom: 21px;
  height: 68%;
  overflow: auto;

  &::-webkit-scrollbar {
    width: 2px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color-default-light;
  }
}

.products__item-back dt {
  font-weight: 500;
  font-size: 14px;
  line-height: 19.6px;
}

.products__item-back dd {
  margin: 0;

  font-size: 14px;
  line-height: 19.6px;
  color: #d8d8d9;

  &:not(:last-child) {
    margin-bottom: 14px;
  }
}

.products__item-back a {
  padding: 9px 10px;

  display: block;

  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  text-align: center;

  background-color: $color-default-light;
  border: none;
  cursor: pointer;

  @include hover-focus {
    box-shadow: inset $base-shadow;
  }
}
