.products {
  padding: 86px 0 120px;

  @include vp-1023 {
    padding: 90px 0 101px;
  }

  @include vp-767 {
    padding: 56px 0 66px;
  }
}

.products__container h2 {
  margin: 0;
  margin-bottom: 48px;
  padding: 0;

  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  text-align: center;

  @include vp-1023 {
    font-size: 26px;
    line-height: 39px;
  }

  @include vp-767 {
    margin-bottom: 31px;

    font-size: 24px;
    line-height: 36px;
  }
}

.products__list {
  margin: 0 auto;
  padding: 0;

  width: 97.4%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;

  list-style: none;

  @include vp-1023 {
    width: 96%;
    grid-template-columns: repeat(2, 1fr);
  }

  @include vp-767 {
    width: 93%;
    grid-template-columns: 1fr;
  }
}

.products__item {
  min-height: 386px;
  position: relative;
  
  &:hover,
  & :focus-within {
    .products__item-front {
      transform: perspective(1000px) rotateY(-180deg);
    }

    .products__item-back {
      transform: perspective(1000px) rotateY(0deg);
    }
  }
}

.products__content {
  min-height: 386px;

  position: relative;
}

.products__item-front,
.products__item-back {
  width: 100%;
  height: 100%;

  position: absolute;

  backface-visibility: hidden;
  overflow: hidden;
  transition: transform 0.6s linear;
}

.products__item-front {
  transform: perspective(1000px) rotateY(0deg);

  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient($products-gradient);
  }
}

.products__item-front img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.products__item-front h3 {
  margin: 0;
  padding: 23px 30px;

  font-weight: 500;
  font-size: 18px;
  line-height: 27px;

  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;

  @include vp-1023 {
    padding: 26px 35px;
  }

  @include vp-767 {
    padding: 18px 25px;
  }

  color: $color-default-light;
}

.products__item-back {
  padding: 30px 25px 35px;
  width: 100%;
  display: flex;
  flex-direction: column;

  color: $color-default-light;

  background-color: $color-default-dark;
  transform: perspective(1000px) rotateY(180deg);

  @include vp-1023 {
    padding: 30px 35px 35px;
  }

  @include vp-767 {
    padding: 30px 25px 35px;
  }
}

.products__item-back p {
  margin: 0;
  margin-bottom: 13px;

  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}

.products__item-back dl {
  margin: 0;
  margin-bottom: 21px;
  height: 68%;
  overflow: auto;

  &::-webkit-scrollbar {
    width: 2px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color-default-light;
  }
}

.products__item-back dt {
  font-weight: 500;
  font-size: 14px;
  line-height: 19.6px;
}

.products__item-back dd {
  margin: 0;

  font-size: 14px;
  line-height: 19.6px;
  color: #d8d8d9;

  &:not(:last-child) {
    margin-bottom: 13px;
  }
}

.products__item-back a {
  padding: 9px 10px;
  margin-top: auto;

  display: block;

  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  text-align: center;

  background-color: $color-default-light;
  border: none;
  cursor: pointer;

  @include hover-focus {
    box-shadow: inset $base-shadow;
  }
}
