.products {
  padding: 95px 0 120px;

  @include vp-1023 {
    padding: 100px 0;
  }

  @include vp-767 {
    padding: 65px 0;
  }
}

.products__container h2 {
  margin: 0;
  margin-bottom: 60px;
  padding: 0;

  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  text-align: center;

  @include vp-1023 {
    font-size: 26px;
    line-height: 39px;
  }

  @include vp-767 {
    margin-bottom: 40px;

    font-size: 24px;
    line-height: 36px;
  }
}

.products__list {
  margin: 0 auto;
  padding: 0;
  max-width: 1130px;

  display: grid;
  grid-template-columns: repeat(auto-fill, 260px);
  grid-auto-flow: dense;
  justify-content: center;
  gap: 30px;

  list-style: none;

  @include vp-1023 {
    max-width: 648px;
    grid-template-columns: repeat(auto-fill, 309px);
  }

  @include vp-767 {
    max-width: 100%;
    grid-template-columns: repeat(auto-fill, 270px);
  }
}

.products__item {
  width: 260px;
  min-height: 386px;

  position: relative;

  @include vp-1023 {
    width: 309px;
  }

  @include vp-767 {
    width: 270px;
  }

  @include hover-focus {
    & .products__item-front {
      transform: perspective(1000px) rotateY(-180deg);
    }

    & .products__item-back {
      transform: perspective(1000px) rotateY(0deg);
    }
  }
}

.products__item-front,
.products__item-back {
  width: 100%;

  position: absolute;

  backface-visibility: hidden;
  overflow: hidden;
  transition: transform 0.6s linear;
}

.products__item-front {
  height: 100%;

  transform: perspective(1000px) rotateY(0deg);

  &::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(1, 28, 64, 0) 50%, #011C40 100%), url(.jpg);
  }
}

.products__item-front img {
  height: 100%;

  object-fit: cover;
}

.products__item-front h3 {
  margin: 0;
  padding: 30px;

  font-weight: 500;
  font-size: 18px;
  line-height: 27px;

  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;

  @include vp-1023 {
    padding: 35px;
  }

  @include vp-767 {
    padding: 25px;
  }

  color: $color-default-light;
}

.products__item-back {
  padding: 35px 25px;
  width: 100%;

  color: $color-default-light;

  background-color: $color-default-dark;
  transform: perspective(1000px) rotateY(180deg);

  @include vp-1023 {
    padding: 35px;
  }

  @include vp-767 {
    padding: 35px 25px;
  }
}

.products__item-back p {
  margin: 0;
  margin-bottom: 12px;

  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}

.products__item-back dl {
  margin: 0;
  margin-bottom: 25px;
}

.products__item-back dt {
  font-weight: 500;
  font-size: 14px;
  line-height: 19.6px;
}

.products__item-back dd {
  margin: 0;

  font-size: 14px;
  line-height: 19.6px;
  color: #d8d8d9;

  &:not(:last-child) {
    margin-bottom: 12px;
  }
}

.products__item-back a {
  padding: 9px 10px;
  width: 100%;
  
  display: block;

  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  text-align: center;

  background-color: $color-default-light;
  border: none;
  cursor: pointer;

  @include hover-focus {
    box-shadow: inset $base-shadow;
  }
}
