.socials {
  padding: 0;
  margin: 0;
  width: 106px;

  display: flex;
  justify-content: space-between;

  list-style: none;

  @include vp-1023 {
    width: 87px;
  }
}

.socials__item a {
  display: flex;
  align-items: center;
}

.socials__item a {
  @include hover-focus {
    & svg {
      filter: drop-shadow($light-shadow);
    }
  }
}
