.upward {
  width: 50px;
  height: 50px;

  position: fixed;
  right: 40px;
  bottom: 40px;

  background-color: rgba($color-default-dark, 0.5);
  background-image: url("../img/svg/upward.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  z-index: 100;
  transition: 0.5s;
}

.upward.active {
  visibility: visible;
  opacity: 100;
}
