.wrapper--nojs .header {
  @include vp-767 {
    position: relative;
    padding: 5px 0;
  }
}

.wrapper--nojs .header__container {
  @include vp-767 {
    display: block;
    padding: 0;
  }
}

.wrapper--nojs .header__logo {
  @include vp-767 {
    justify-content: center;
    padding: 20px;
    gap: 5px;
    border-bottom: 1px solid rgba($color-default-dark, 0.2);
  }

  & span {
    @include vp-767 {
      display: block;
    }
  }

  & svg {
    @include vp-767 {
      fill: $color-default-dark;
    }
  }
}

.wrapper--nojs .navigation__list--header {
  @include vp-767 {
    position: relative;
    display: block;
    max-width: 100%;
  }

  & a {
    @include vp-767 {
      width: 100%;
      text-align: center;
      padding: 10px;
    }
  }
}

.wrapper--nojs .navigation__item {
  &:not(:last-child) {
    @include vp-767 {
      border-bottom: 1px solid rgba($color-default-dark, 0.2);
    }
  }
}
