// Colors
$color-default-dark: #011c40;
$color-default-light: #f9fbfd;

// Project palette
// для нейминга цветов используем https://www.htmlcsscolor.com/hex/334482
$color-athens-grey: #d7d8d8;
$color-solitude: #e3ecf6;
$color-alice-blue: #f8fafc;
$color-sapphire: #101a56;
$color-prussian-blue: #002b66;

// Shadows & gradients
$base-shadow: 0 4px 4px rgba(#000000, 0.25);
$light-gradient: to top, rgba($color-solitude, 0.9), rgba($color-solitude, 0.9);

// Typography
// переменная используемая в html для подключения скейлинга
$fz-default: 16px;

// у некоторых шрифтов в ios возникают проблемы с символом рубля
// https://www.artlebedev.ru/kovodstvo/sections/159/#13
$ff-default: "Montserrat", "Arial", sans-serif;

// Animation
$tf-default: ease;
$trans-default: 0.3s $tf-default;

// если требуется изинг отличный от $tf-default, то переменную называем не цифрой
$trans-modal: 0.6s cubic-bezier(0.55, 0, 0.1, 1);
$trans-600: 0.6s $tf-default;

// Viewports
$vp-320: 320px;
$vp-768: 768px;
$vp-1024: 1024px;
$vp-1366: 1366px;

// Retina
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// Indents
$desktop-indent: 103px;
$tablet-indent: 45px;
$mobile-indent: 15px;

$header-height-desktop: 108px;
$header-height-tablet: 80px;
$header-height-mobile: 62px;
